
body, html {
	position: relative;
	overflow-x: hidden;
}
.cont {
	margin: 0 auto;
	width: 1170px;	
}
.styled-select select 
{
    border: 0 !important;  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
    /*background: url('select_icon.png')  no-repeat;*/
     background-position: 179px 7px;
     text-indent: 0.01px;
     text-overflow: "";
     color: #FCAF17;
     width:200px;
 }
/*----------------------- breadcrumb-sub -----------------*/
.wr-breadcrumb-sub {
	margin: 0 auto;
	width: 100%;
	height: 90px;
	background: #5ec33c url('../../images/recruitment/bg-brea.png') left no-repeat;
}
.cont-breadcrumb-sub {

	padding-top: 29px;
}
.breadcrumb-sub {
	height: 37px;	
	background: #42ae1d;
	position: relative;
	float: left;
	padding-left: 31px;
	padding-right: 49px;
	margin-right: 63px;
}
.breadcrumb-sub:before {
	content: "";
	position: absolute;
	width: 5px;
	height: 19px;
	background: #fff;
	left: 17px;
	top: 9px;
	z-index: 2;
}
.breadcrumb-sub:after {
	content: "";
	position: absolute;
	right: -18px;
	top:0;
	z-index: 2;
    width:0px;
    height:0px;
    border-bottom:19px solid transparent;
    border-top:18px solid transparent;
    border-left:18px solid #42ae1d; 
}
.wr-breadcrumb-sub h3 {
	float: left;
	font-weight: normal;
	font-size: 22px;
	text-transform: uppercase;
	color: #fff;
	margin: 0px;
	line-height: 37px;
}
.cont-breadcrumb-sub .btn-group {
	border: 1px solid #fff;
	border-radius: 6px;
}
.cont-breadcrumb-sub .btn-group, .cont-breadcrumb-sub .btn-group-vertical {
	float: right;
}
.cont-breadcrumb-sub .btn-group .btn{
	float: right;
	background: #5ec33c;
	color: #fff;
}
.cont-breadcrumb-sub .btn-group .btn:hover {
	outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);	
}
.cont-breadcrumb-sub .btn.dropdown-toggle {
	border-radius: 6px;
	font-style: italic;
}
.cont-breadcrumb-sub .dropdown-menu-pc {
	left: -40px;
}
/*----------- SELECT ADVANCED ----------------*/
.wr-select-adv {
	display: block;
	overflow: hidden;
	margin-top: 23px;
	margin-bottom: 41px;
	padding: 35px;
	padding-right: 0px;
	border: 1px solid #e5e5e5;
	border-radius: 7px;
	box-shadow: 0 0 28px -5px rgba(0, 0, 0, 0.3);
	background: #fff;
}
.box-sl {
	float: left;
	width: 190px;
	margin-right: 10px;
}
.box-sl select, .box-search input {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border: 1px solid #d5d5d5;
	padding-left: 5px;
	font-size: 15px;
	color: #595959;
}
.box-search {
	float: left;
	width: 367px;
	background: #fff;
	margin-right: 10px;
}
.submit {
	float: left;
	width: 122px;
	height: 41px;
	background: none;
	border: none;
	margin-top: -3px;
}
input.sub-adv {
	width: 100%;
	height: 41px;
	background: url('../../images/recruitment/icon-search.png') center top no-repeat;
	border: none;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.submit input.sub-adv:hover {
	background: url('../../images/recruitment/icon-search-hv.png') center top no-repeat;
}
.cont-breadcrumb-sub .btn-group .btn .caret {
    margin-left: 2px;
}
/*---------------------------- LIST - WORK --------------------*/

.list-work.row.row-recrui {
	margin-left: -20px;
    margin-right: -20px;
}
.row.row-recrui{
	margin-left: -10px;
	margin-right: -10px;
}
.list-work{
	margin-left: -20px;
	margin-right: -20px;
}
.list-work .list-work-item{
	padding-left: 10px;
	padding-right: 10px;
}
.list-work-item a:hover {
	text-decoration: none;
}
.list-work .box-work {
	display: block;
	margin-bottom: 40px;
	border-bottom:  5px solid #5ec33c;
	box-shadow: 0 0 27px -1px rgba(0, 0, 0, 0.3);
	position: relative;
}
.list-work .box-work:hover {
	border-bottom:  5px solid #ff9912;
}
.list-work .box-work:nth-child(4n) {
	margin-right: 0px;
}

.list-work figcaption {
	background: #5ec33c;
	width: 100%;
	border-left: 10px solid #ff9912;
	padding: 11px 13px;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	display: table;
	height: 62px;
}
.list-work figcaption span {
	color: #fff;
}
figcaption span {
	height: 100%;
	display: table-cell;
    /* -webkit-box-align: center; */
    vertical-align: middle;	
}
.list-work figcaption span:hover {
	color: #e8e8e8;
	text-decoration: none;
}

.box-work-img {
    overflow: hidden;
    position: relative;
}
.box-work-img img {
	width: 100%;

}
.box-work-img:after {
    content: '';
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -ms-transition: -ms-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
    -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
    -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -115%, 0);
}
.box-work:hover .box-work-img:after, .box-work:focus .box-work-img:after {
    -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
    -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 115%, 0);
}
.cmt-work {
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 28px;
	font-weight: 500;
	height: 279px;
}
p.cmt-map {
	padding-left: 25px;
	font-size: 15px;
	color: #4d4e4d;
	position: relative;
}
p.cmt-map:before {
	content: "";
	position: absolute;
	left: 3px;
	z-index: 2;
	width: 11px;
	height: 17px;
	background: url('../../images/recruitment/icon-loca.png') no-repeat;
}

p.cmt-sal {
	padding-left: 26px;
	font-size: 15px;
	color: #4d4e4d;
	position: relative;	
	min-height: 42px;
	height:62px;
}
p.cmt-sal:before {
	content: "";
	position: absolute;
	left: 0;
	z-index: 2;
	width: 17px;
	height: 17px;
	background: url('../../images/recruitment/icon-dolla.png') no-repeat;
}
.tit-skill {
	margin-top: 4px;
	width: 199px;
	border-top: 1px solid #43b01e;
	padding-top: 4px;
	margin-bottom: 11px;
}
.tit-skill span {
	padding: 5px 15px;
	background: #dfffd4;
	color: #4d4e4d;
	font-size: 15px;
}
.list-skill span {
	color: #4d4e4d;
	padding: 3px 8px;
	border: 1px solid #d5d5d5;
	border-radius: 15px;
	margin-right: 2px;
    margin-bottom: 5px;
    display: inline-block;
}
/*.list-skill span:hover {
	color: #fff;
	border: 1px solid #ff9912;
	background: #ff9912;
	text-decoration: none;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}*/
span.readmore {
	font-family: "Myria";
	position: absolute;
	bottom: 26px;
	z-index: 2;
	display: block;
	text-align: center;
	text-decoration: underline;
	color: #898989;
	font-style: italic;
    left: 0;
    right: 0;
    font-weight: 500;
 	font-style: italic;
}
span.readmore:hover {
	color: #ff9912;
}
/*----------------- pagination tuyen dung ------------------*/
.recrui-pagination ul {
	margin: 0 auto;
	display: table;
	margin-bottom: 42px;
}
.recrui-pagination ul li {
	display: table-cell;
	padding-right: 26px;
	font-size: 20px;
}
.recrui-pagination ul li.active a{
	color: #5ec33c;
}
.recrui-pagination ul li a {
	color: #4d4e4d;
	padding-bottom: 5px;
	text-decoration: underline;
}
.recrui-pagination ul li a:hover {
	color: #ff9912;
}

.search-bottom {
	margin: 0 auto;
	width: 100%;
	background: #5ec33c;
	padding-top: 17px;
	padding-bottom: 2px;
}

.btn-orange {
    background: #FF9700;
    color: #fff;
	display: block;
    float: left;
    width: 100%;
    margin-top: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    box-shadow: none;
    border: none;
    display: block;
    font-weight: bold;
    padding: 12px 8px;
	display: none;
}
.btn-orange i {
	vertical-align: text-bottom;
	font-size: 19px;
	margin-right: 5px;
}
.list-skill{
    max-height: 67px;
    overflow: hidden;	
}