@media screen and (max-width: 1230px) {
	.owl-nav {
		display: none;
	}
	.owl-dots {
	  display: block;
	}
}
@media screen and (max-width: 991px) {
	.img-detail {
		width: 45%;
		margin-right: 0px;
	}
	.info-detail {
		float: right;
		width: 50%;
		max-width: inherit;
	}
	.code-work {
		display: none;
	}
	.code-work-rs {
		display: block;
		float: left;
		margin-top: 10px;
		padding-left: 0px !important;
	}
	.content-detail-main {
	    margin-top: 10px;
	}
	.row-recrui-detail h3 {
		width: 60%;
	}
}
@media screen and (max-width: 768px) {
	.wr-detail {
		margin-bottom: 28px;
	}
	.wr-btn-send-bot {
		margin-top: 5px;
	}
	.wr-list-other {
	    margin-bottom: 28px;
	}	
	.cate-box-content {
		padding: 10px;
	}
	.wr-btn-send-bot {
		display: none;
	}

}
@media screen and (max-width: 767px) {
	.cate-wr-content-open .cate-box-content {
		display: none;
	}
	.wr-title {
		padding-left: 15px;
		padding-right: 15px;
	}
	.row.row-recrui-detail, .row.row-list-slider {
		margin: 0px;
	}
	.wr-title .container {
		padding-right: 0px;
	}
	.wr-btn-send-top {
		display: none;
	}
	.wr-btn-send-top-rs {
		display: block;
		width: 144px;
		height: 44px;
		background: #ff970e;
		border-radius: 7px;
		line-height: 44px;
		float: right;
		margin-top: -11px;
	}
	.wr-btn-send-top-rs i {
		margin-left: 5px;
	}
	.wr-btn-send-top-rs a {
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		display: block;
	}
	.wr-title.fixed .container {
		padding-top: 7px;
	}
	.wr-title.fixed {
		height: 66px;
	}
	.row-recrui-detail h3 {
		font-size: 15px;
	}
}
@media screen and (max-width: 700px) {
	.img-detail {
		width: 100%;
		float: none;
		margin: 0 auto;
	}
	.img-detail img {
		display: block;
		margin: 0 auto;
	}
	.code-work-rs {
		display: none;
	}
	.code-work-rs-sm {
		display: block;
		padding-left: 0px !important;
		float: left;
		border-bottom: 0px !important;
	}
	.info-detail {
		float: none;
		width: 70%;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.wr-title .container {
		border: none;
	}
	.row.row-recrui-detail h3 {
		display: none;
	}
	.row-recrui-detail.title-rs {
		margin: 20px 0px;
		float: none;
		display: block;
		text-align: center;
		width: 100% !important;
	}
	.row-recrui-detail.title-rs h3 {
		float: none;
		display: block;
		width: 100% !important;
	}
 }
 @media screen and (max-width: 568px) {
 	.info-detail {
 		width: 80%;
 	}
 }
 @media screen and (max-width: 568px) {
 	.info-detail {
 		width: 100%;
 	}
 }
 @media screen and (max-width: 568px) {
	.img-detail img {
		width: 100%;
	}
}
 @media screen and (max-width: 490px) {
 	.more-other {
 		display: none;
 	}
 	.title-view-other {
 		margin-bottom: 20px;
 	}
 }